*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Istok Web", sans-serif;
}
h1{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
p{
    font-size: 18px;
    text-align: center;
    color: rgb(243, 201, 30);
    font-weight: 550;
    text-transform: capitalize;
}
button{
    color: rgb(0, 0, 0);
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(33, 26, 50);
}
.container{
    position: absolute;
    top: 30%;
    padding: 60px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.input_container{
    display: flex;
    justify-content:center;
}
#city-input{
    margin-right: 20px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    color: black;
    font-weight: 500;
}
button{
    color: black;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
button:hover{
    color: white;
    background-color: rgba(3, 91, 244, 0.625);
}

.hidden{
    display: none;
}
#city-name{
    text-align: center;
    margin-bottom: 10px;
}
#error-message{
    color: red;
}